.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs-container{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.city-input-text{
    width: 500px;
}

.btn-submit{
    height: 50px;
    padding: 5px;
    border-radius: 15px;
    border-style: none;
    background-color: blue;
    color: white;
    margin: 5px;

    opacity: 0.7;
}

.btn-submit:hover{
    opacity: 1;
}

.list-workers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px;
    margin-top: 25px;

}

.worker-li{
    background-color: #fff;

    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-name{
    font-size: 24px;
    font-weight: 700;
    margin:5px
}

.li-desc{
    font-size: 20px;
    margin: 5px;
}

.div-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.contact-container{
    display: flex;
    flex-direction: row;
    
}